Gateway/rpi/flows_raspberrypi.json
[{"id":"97bd5c2.eb1fea","type":"tab","label":"gateway_582857","disabled":false,"info":""},{"id":"10628d1b.715a23","type":"tab","label":"auto_backup","disabled":false,"info":""},{"id":"456282b9.b24b4c","type":"mqtt-broker","z":"","name":"","broker":"demo.thingsboard.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"db5f311c.e2c92","type":"mqtt-broker","z":"","name":"","broker":"demo.thingsboard.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"279efb74.1e70f4","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"78767909.f72398","type":"mqtt-broker","z":"","name":"Cayenne","broker":"mqtt.mydevices.com","port":"1883","clientid":"38d2a040-9a11-11e9-94e9-493d67fd755e","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"73514c5a.007244","type":"mqtt-broker","z":"","name":"WolkAbout Demo","broker":"api-demo.wolkabout.com","port":"1883","tls":"","clientid":"lqir0itr4ewtz75j","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"lastwill/","closeQos":"2","closeRetain":"false","closePayload":"Gone offline","willTopic":"lastwill/","willQos":"2","willRetain":"false","willPayload":"Gone offline"},{"id":"28490247.b41c2e","type":"wiotp-credentials","z":"","name":"manager_582857","org":"f1bk1s","serverName":"f1bk1s.messaging.internetofthings.ibmcloud.com:8883","devType":"manager","devId":"582857","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"2a7876e3.95b27a","type":"mqtt-broker","z":"","name":"","broker":"demo.thingsboard.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"81703107.01193","type":"mqtt-broker","z":"","name":"","broker":"demo.thingsboard.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7c6115af.55aebc","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"eb8af42d.4bd128","type":"mqtt-broker","z":"","name":"Cayenne","broker":"mqtt.mydevices.com","port":"1883","clientid":"38d2a040-9a11-11e9-94e9-493d67fd755e","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"97030e02.3a458","type":"mqtt-broker","z":"","name":"WolkAbout Demo","broker":"api-demo.wolkabout.com","port":"1883","tls":"","clientid":"lqir0itr4ewtz75j","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"lastwill/","closeQos":"2","closeRetain":"false","closePayload":"Gone offline","willTopic":"lastwill/","willQos":"2","willRetain":"false","willPayload":"Gone offline"},{"id":"eb743e7a.05664","type":"wiotp","z":"","name":"Watson_API"},{"id":"e63ca7bf.cf3758","type":"function","z":"97bd5c2.eb1fea","name":"","func":"msg.payload = {\n    \"managers\": [\"/dev/ttyUSB3\"]\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["7864d874.4081b8"]]},{"id":"462ed433.06894c","type":"http in","z":"97bd5c2.eb1fea","name":"","url":"/hr","method":"post","swaggerDoc":"","x":140,"y":540,"wires":[["7f52e834.a54ca8","25bc70c.433e29","44b7b97c.522808"]]},{"id":"8f99ba5f.8799d8","type":"wiotp out","z":"97bd5c2.eb1fea","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"28490247.b41c2e","deviceType":"","deviceId":"","event":"","format":"json","qos":"","name":"to IBM Watson IoT","x":1050,"y":660,"wires":[]},{"id":"6c101d4b.e21f94","type":"function","z":"97bd5c2.eb1fea","name":"payload","func":"msg.payload    = {\"d\": msg.payload.fields}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":340,"wires":[["8f99ba5f.8799d8"]]},{"id":"2e28e99c.1455b6","type":"http in","z":"97bd5c2.eb1fea","name":"","url":"/notifData","method":"post","upload":false,"swaggerDoc":"","x":160,"y":380,"wires":[["7f52e834.a54ca8","56cdacc9.ae8b24","d2a59ea0.e5ba2"]]},{"id":"82aad181.a15db","type":"http in","z":"97bd5c2.eb1fea","name":"","url":"/oap","method":"post","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["7f52e834.a54ca8","4d1df1a1.684d1","44b7b97c.522808"]]},{"id":"50a8c58e.29b9dc","type":"http in","z":"97bd5c2.eb1fea","name":"","url":"/notifLog","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["7f52e834.a54ca8","603f70ed.06aa3"]]},{"id":"318ea115.727f8e","type":"http in","z":"97bd5c2.eb1fea","name":"","url":"/notifIpData","method":"post","upload":false,"swaggerDoc":"","x":170,"y":420,"wires":[["7f52e834.a54ca8","56cdacc9.ae8b24","d2a59ea0.e5ba2"]]},{"id":"875577cd.5ef218","type":"http in","z":"97bd5c2.eb1fea","name":"","url":"/event","method":"post","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["7f52e834.a54ca8","603f70ed.06aa3","d95d669e.c4b788","b13ef9c3.371328","3f3477ef.55e478"]]},{"id":"e215e2a9.bac89","type":"http in","z":"97bd5c2.eb1fea","name":"","url":"/notifHealthReport","method":"get","swaggerDoc":"","x":180,"y":460,"wires":[["7f52e834.a54ca8","56cdacc9.ae8b24","d2a59ea0.e5ba2"]]},{"id":"7f52e834.a54ca8","type":"http response","z":"97bd5c2.eb1fea","name":"","statusCode":"","headers":{},"x":410,"y":580,"wires":[]},{"id":"4d1df1a1.684d1","type":"function","z":"97bd5c2.eb1fea","name":"[oap] deviceId event","func":"msg.deviceId   = msg.payload.mac\nmsg.event      = 'oap.'+msg.payload.fields.channel_str.replace('/','.')\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":500,"wires":[["ec23d9ef.faef18"]]},{"id":"56cdacc9.ae8b24","type":"function","z":"97bd5c2.eb1fea","name":"deviceId event","func":"msg.deviceId   = msg.payload.fields.macAddress\nmsg.event      = msg.payload.name\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["ec23d9ef.faef18"]]},{"id":"ec23d9ef.faef18","type":"function","z":"97bd5c2.eb1fea","name":"deviceType","func":"msg.deviceType = \"mote\"\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["6c101d4b.e21f94"]]},{"id":"c7f1ecfa.77973","type":"comment","z":"97bd5c2.eb1fea","name":"mote events","info":"","x":110,"y":340,"wires":[]},{"id":"d1fde3f4.8d889","type":"comment","z":"97bd5c2.eb1fea","name":"manager events","info":"","x":120,"y":220,"wires":[]},{"id":"603f70ed.06aa3","type":"function","z":"97bd5c2.eb1fea","name":"event","func":"msg.event      = msg.payload.name\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["6c101d4b.e21f94"]]},{"id":"914d2a41.8e7618","type":"wiotp in","z":"97bd5c2.eb1fea","authType":"g","deviceKey":"28490247.b41c2e","deviceType":"","deviceId":"","command":"JsonServer","commandType":"g","qos":"0","name":"gateway JsonServer commands","x":170,"y":1080,"wires":[["7d29c676.0a7238","49c77054.b183f"]]},{"id":"f20ade06.ffed8","type":"comment","z":"97bd5c2.eb1fea","name":"=== commands","info":"","x":120,"y":940,"wires":[]},{"id":"b5e0f5ad.987fe8","type":"http request","z":"97bd5c2.eb1fea","name":"","method":"use","ret":"obj","url":"","tls":"","x":710,"y":1080,"wires":[["22ccb9d4.e91026"]]},{"id":"7d29c676.0a7238","type":"function","z":"97bd5c2.eb1fea","name":"create request","func":"// create HTTP request\nhttpMsg = {}\nhttpMsg.method          = msg.payload.method\nhttpMsg.url             = 'http://127.0.0.1:8080'+msg.payload.url\nhttpMsg.headers         = {\n    'X-Correlation-ID': msg.payload.token\n}\nhttpMsg.payload         = msg.payload.body\n\nreturn httpMsg;","outputs":1,"noerr":0,"x":540,"y":1080,"wires":[["b5e0f5ad.987fe8"]]},{"id":"22ccb9d4.e91026","type":"function","z":"97bd5c2.eb1fea","name":"format response","func":"mqttMsg = {}\nmqttMsg.event             = 'JsonServerResponse'\nmqttMsg.payload           = {}\nmqttMsg.payload.token     = msg.headers['x-correlation-id']\nmqttMsg.payload.response  = msg.payload\n\nreturn mqttMsg;","outputs":1,"noerr":0,"x":880,"y":1080,"wires":[["8f99ba5f.8799d8"]]},{"id":"a535f1f5.fc0d6","type":"split","z":"97bd5c2.eb1fea","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":550,"y":540,"wires":[["f3e362a9.262c6"]]},{"id":"25bc70c.433e29","type":"function","z":"97bd5c2.eb1fea","name":"split HR","func":"var payloads = [];\n\nfor (var hrname in msg.payload.hr) {\n    payloads.push(\n        {\n            'deviceType':  \"mote\",\n            'deviceId':    msg.payload.mac,\n            'payload':     msg.payload.hr[hrname],\n            'event':       'hr.'+hrname,\n        }\n    );\n}\n\nreturn {\"payload\": payloads};","outputs":1,"noerr":0,"x":420,"y":540,"wires":[["a535f1f5.fc0d6"]]},{"id":"f3e362a9.262c6","type":"function","z":"97bd5c2.eb1fea","name":"create final hr","func":"var returnMsg = {};\nreturnMsg.deviceType = msg.payload.deviceType;\nreturnMsg.deviceId   = msg.payload.deviceId;\nreturnMsg.event      = msg.payload.event;\nreturnMsg.payload    = msg.payload.payload;\nreturn returnMsg;","outputs":1,"noerr":0,"x":700,"y":540,"wires":[["8f99ba5f.8799d8"]]},{"id":"acceeabb.3fa108","type":"comment","z":"97bd5c2.eb1fea","name":"=== configure/check JsonServer","info":"","x":130,"y":20,"wires":[]},{"id":"ed766164.ca173","type":"inject","z":"97bd5c2.eb1fea","name":"add manager","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["e63ca7bf.cf3758"]]},{"id":"7864d874.4081b8","type":"http request","z":"97bd5c2.eb1fea","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:8080/api/v1/config/managers","tls":"","proxy":"","authType":"basic","x":430,"y":60,"wires":[[]]},{"id":"1fc87d16.9554a3","type":"inject","z":"97bd5c2.eb1fea","name":"get status","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["f4228927.281c98"]]},{"id":"f4228927.281c98","type":"http request","z":"97bd5c2.eb1fea","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:8080/api/v1/status","tls":"","proxy":"","authType":"basic","x":430,"y":100,"wires":[["53a2bb89.23dce4"]]},{"id":"5a7d7f63.d57fb","type":"inject","z":"97bd5c2.eb1fea","name":"get serial ports","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":140,"wires":[["cde430c7.a93f4"]]},{"id":"cde430c7.a93f4","type":"http request","z":"97bd5c2.eb1fea","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:8080/api/v1/helpers/serialports","tls":"","proxy":"","authType":"basic","x":430,"y":140,"wires":[["3f32e343.a91b8c"]]},{"id":"53a2bb89.23dce4","type":"debug","z":"97bd5c2.eb1fea","name":"","active":true,"console":"false","complete":"false","x":630,"y":100,"wires":[]},{"id":"3f32e343.a91b8c","type":"debug","z":"97bd5c2.eb1fea","name":"","active":true,"console":"false","complete":"false","x":630,"y":140,"wires":[]},{"id":"c64e4955.f60168","type":"comment","z":"97bd5c2.eb1fea","name":"=== events","info":"","x":60,"y":180,"wires":[]},{"id":"44b7b97c.522808","type":"function","z":"97bd5c2.eb1fea","name":"msg.payload.mac","func":"msg.payload = {\n    'mac': msg.payload.mac,\n    'alive': true\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":620,"wires":[["f770c9f4.cd5008"]]},{"id":"d2a59ea0.e5ba2","type":"function","z":"97bd5c2.eb1fea","name":"msg.payload.fields.macAddress","func":"msg.payload = {\n    'mac':   msg.payload.fields.macAddress,\n    'alive': true\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":660,"wires":[["f770c9f4.cd5008"]]},{"id":"d95d669e.c4b788","type":"function","z":"97bd5c2.eb1fea","name":"discovery events","func":"var alive;\nvar mac;\n\nswitch(msg.payload.name) {\n    case 'eventMoteDelete':\n    case 'eventMoteLost':\n    case 'eventMoteReset':\n        alive = false;\n        mac   = msg.payload.fields.macAddress;\n        break;\n    case 'eventMoteCreate':\n    case 'eventMoteJoin':\n    case 'eventMoteOperational':\n        alive = true;\n        mac   = msg.payload.fields.macAddress;\n        break;\n    default:\n        return;\n}\n\nmsg.payload = {\n    'mac':   mac,\n    'alive': alive\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":700,"wires":[["f770c9f4.cd5008"]]},{"id":"d44fc9bf.9a18c8","type":"comment","z":"97bd5c2.eb1fea","name":"maintain activeMotes list","info":"","x":150,"y":580,"wires":[]},{"id":"f770c9f4.cd5008","type":"function","z":"97bd5c2.eb1fea","name":"maintain active nodes list","func":"var activeMotes = flow.get('activeMotes');\nif (typeof activeMotes == 'undefined') {\n    activeMotes = [];\n}\n\nvar idx = activeMotes.indexOf(msg.payload.mac);\nif (msg.payload.alive===true) {\n    // mote is alive\n    \n    if (idx === -1) {\n        // NOT in the database: add\n        activeMotes.push(msg.payload.mac);\n    }\n} else {\n    // mote is NOT alive\n    \n    if (idx != -1) {\n        // in the database: remove\n        activeMotes.splice(activeMotes.indexOf(msg.payload.mac), 1);\n    }\n}\n\nflow.set('activeMotes',activeMotes)\n\nmsg.payload = flow.get('activeMotes');\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":660,"wires":[[]]},{"id":"6648a68b.892618","type":"inject","z":"97bd5c2.eb1fea","name":"get activeMotes list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":860,"wires":[["f43ddaca.17bc88"]]},{"id":"f43ddaca.17bc88","type":"function","z":"97bd5c2.eb1fea","name":"get activeMotes list","func":"msg.payload = flow.get('activeMotes');\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":860,"wires":[["dd2d2cc3.80c66"]]},{"id":"5a1d5591.76a44c","type":"inject","z":"97bd5c2.eb1fea","name":"reset activeMotes list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":900,"wires":[["ac3df804.8e02b8"]]},{"id":"ac3df804.8e02b8","type":"function","z":"97bd5c2.eb1fea","name":"reset activeMotes list","func":"flow.set('activeMotes',[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":900,"wires":[["dd2d2cc3.80c66"]]},{"id":"97a4c2c3.70841","type":"comment","z":"97bd5c2.eb1fea","name":"manager commands","info":"","x":170,"y":980,"wires":[]},{"id":"53d240d1.42fdb","type":"comment","z":"97bd5c2.eb1fea","name":"mote commands","info":"","x":160,"y":1140,"wires":[]},{"id":"9d13d4b3.2d5538","type":"function","z":"97bd5c2.eb1fea","name":"for activeMotes?","func":"if (flow.get('activeMotes').indexOf(msg.deviceId) != -1) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":1180,"wires":[["39355651.a6ee4a"]]},{"id":"132293bc.b39e9c","type":"wiotp in","z":"97bd5c2.eb1fea","authType":"g","deviceKey":"28490247.b41c2e","deviceType":"","deviceId":"","command":"activeMotes","commandType":"g","qos":"0","name":"gateway activeMotes commands","x":170,"y":1020,"wires":[["1fd40324.aa325d","49c77054.b183f"]]},{"id":"1fd40324.aa325d","type":"function","z":"97bd5c2.eb1fea","name":"format response","func":"mqttMsg = {}\nmqttMsg.event             = 'activeMotesResponse'\nmqttMsg.payload           = {\n    \"token\":     msg.payload.token,\n    \"response\":  flow.get('activeMotes')\n}\n\nreturn mqttMsg;","outputs":1,"noerr":0,"x":880,"y":1020,"wires":[["8f99ba5f.8799d8"]]},{"id":"e914c05.c12474","type":"wiotp in","z":"97bd5c2.eb1fea","authType":"g","deviceKey":"28490247.b41c2e","deviceType":"mote","deviceId":"+","command":"oap","commandType":"d","qos":"0","name":"mote oap commands","x":140,"y":1180,"wires":[["9d13d4b3.2d5538","49c77054.b183f"]]},{"id":"39355651.a6ee4a","type":"function","z":"97bd5c2.eb1fea","name":"create request","func":"// create HTTP request\nhttpMsg = {}\nhttpMsg.method          = msg.payload.method\nhttpMsg.url             = 'http://127.0.0.1:8080/api/v1/oap/'+msg.deviceId+msg.payload.url\nhttpMsg.headers         = {\n    'X-Correlation-ID': msg.payload.token\n}\nhttpMsg.payload         = msg.payload.body\n\nreturn httpMsg;","outputs":1,"noerr":0,"x":540,"y":1180,"wires":[["194426d.5ef37d9"]]},{"id":"194426d.5ef37d9","type":"http request","z":"97bd5c2.eb1fea","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":710,"y":1180,"wires":[["bd17c90b.b06af8"]]},{"id":"bd17c90b.b06af8","type":"function","z":"97bd5c2.eb1fea","name":"format response","func":"mqttMsg = {}\nmqttMsg.deviceType        = 'mote'\nmqttMsg.deviceId          = msg.url.split('/')[6];\nmqttMsg.event             = 'oapResponse'\nmqttMsg.payload           = {\n    \"response\" :  msg.payload,\n    \"token\":      msg.headers['x-correlation-id'],\n}\n\nreturn mqttMsg;","outputs":1,"noerr":0,"x":880,"y":1180,"wires":[["8f99ba5f.8799d8"]]},{"id":"dd2d2cc3.80c66","type":"debug","z":"97bd5c2.eb1fea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":880,"wires":[]},{"id":"49c77054.b183f","type":"debug","z":"97bd5c2.eb1fea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":1240,"wires":[]},{"id":"2c32d972.856c26","type":"file in","z":"10628d1b.715a23","name":"flows_vps.json","filename":"/home/pi/.node-red/flows_raspberrypi.json","format":"utf8","sendError":true,"x":420,"y":180,"wires":[["d4c2e45.9fdbb18"]]},{"id":"71999e29.66725","type":"file","z":"10628d1b.715a23","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":770,"y":180,"wires":[[]]},{"id":"5e833406.f237ec","type":"inject","z":"10628d1b.715a23","name":"","topic":"","payload":"restarted","payloadType":"str","repeat":"","crontab":"","once":true,"x":210,"y":180,"wires":[["2c32d972.856c26","916ed185.b2557"]]},{"id":"d4c2e45.9fdbb18","type":"function","z":"10628d1b.715a23","name":"","func":"msg.filename = \"/home/pi/.node-red/lib/flows/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["71999e29.66725"]]},{"id":"916ed185.b2557","type":"file in","z":"10628d1b.715a23","name":"flows_vps_cred.json","filename":"/home/pi/.node-red/flows_raspberrypi_cred.json","format":"utf8","sendError":true,"x":440,"y":240,"wires":[["a637c87a.d02ed8"]]},{"id":"a62672d.774b49","type":"file","z":"10628d1b.715a23","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":770,"y":240,"wires":[[]]},{"id":"a637c87a.d02ed8","type":"function","z":"10628d1b.715a23","name":"","func":"msg.filename = \"/home/pi/.node-red/lib/flows/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["a62672d.774b49"]]},{"id":"f67d30b4.5b169","type":"comment","z":"97bd5c2.eb1fea","name":"delete inactiveMotes on Watson IoT Platform","info":"","x":250,"y":740,"wires":[]},{"id":"b13ef9c3.371328","type":"function","z":"97bd5c2.eb1fea","name":"eventMoteLost","func":"switch(msg.payload.name) {\n    case 'eventMoteLost':\n        msg.payload = {\n            \"typeId\": \"mote\",\n            \"deviceId\":msg.payload.fields.macAddress\n        }\n        break;\n    default:\n        return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":780,"wires":[["bc7b6bf6.b486a8"]]},{"id":"60da542f.151ccc","type":"inject","z":"97bd5c2.eb1fea","name":"manual mote delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":820,"wires":[["cb9bff8d.f13a6"]]},{"id":"d5cde2fd.426be","type":"debug","z":"97bd5c2.eb1fea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":780,"wires":[]},{"id":"a9aaec39.d055b","type":"debug","z":"97bd5c2.eb1fea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":820,"wires":[]},{"id":"bc7b6bf6.b486a8","type":"device-manager","z":"97bd5c2.eb1fea","auth":"api","name":"delete lost motes","apiKey":"eb743e7a.05664","deviceType":"","method":"Delete","deviceId":"","password":"","ignore":false,"x":370,"y":780,"wires":[["d5cde2fd.426be"]]},{"id":"cb9bff8d.f13a6","type":"device-manager","z":"97bd5c2.eb1fea","auth":"api","name":"","apiKey":"eb743e7a.05664","deviceType":"mote","method":"Delete","deviceId":"00-17-0d-00-00-58-e9-d8","password":"","ignore":false,"x":390,"y":820,"wires":[["a9aaec39.d055b"]]},{"id":"3f3477ef.55e478","type":"debug","z":"97bd5c2.eb1fea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":426.5,"y":340,"wires":[]}]